body {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.container {
    background-color: rgb(50, 50, 50);
    padding: 50px 35px;
    border-radius: 10px;
}

.calc-container {
    width: 300px;
    border-radius: 5px;
}

.screen-container {
    border-radius: 10px;
    margin-bottom: 25px;
}

.buttons {
    background-color: rgb(50, 50, 50);
    border-radius: 0 0 5px 5px;
}

button {
    background-color: rgb(141, 141, 141);
    color: white;
    /*border: 2px solid rgb(50, 50, 50);*/
    border: none;
    border-radius: 10px;
}

/*
#all-clear, #clear {
    background-color: red;;
}
*/

.operator, #all-clear, #clear  {
    background-color: rgb(18, 18, 18);
}
#equal {
    background-color: rgb(218, 127, 0);
}

.screen-container {
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.previous-op {
    font-size: 1.5em;
    
}

.current-op {
    font-size: 2em;
}

button {
    font-size: 30px;
    padding: 15px 0px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
}

.grid-row-span-2 {
    grid-row: span 2;
}